.slider-title {
    color: #ea553f;
    font-size: 80px;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.slide-text{
    color: rgb(255, 255, 255);
    font-size: 40px;

}